.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: #fff4e7;
}

.btn-paimary{
    background-color: #ff900e;
    color: white;
    padding: 15px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

/* header style */


/* Nav related Style */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.nav-link {
    text-decoration: none;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 16px;
    color: #424242;
}
.navbar, .banner{
    max-width: 1100px;
    margin: 0 auto; 
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
/* banner related styling */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner img{
    width: 100%;
}
/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}

